<div class="select-items">
    <div><button data-bs-dismiss="modal" (click)="applySelections()">Aplicar</button></div>
    <div><input type="checkbox" value="agua-verde"> Água Verde</div>
    <div><input type="checkbox" value="velha"> Velha</div>
    <div><input type="checkbox" value="ponta-aguda"> Ponta Aguda</div>
    <div><input type="checkbox" value="garcia"> Garcia</div>
    <div><input type="checkbox" value="itoupava-central"> Itoupava Central</div>
    <div><input type="checkbox" value="itoupava-norte"> Itoupava Norte</div>
    <div><input type="checkbox" value="itoupava-sul"> Itoupava Sul</div>
    <div><input type="checkbox" value="progresso"> Progresso</div>
    <div><input type="checkbox" value="salto-norte"> Salto Norte</div>
    <div><input type="checkbox" value="vorstadt"> Vorstadt</div>
    <div><input type="checkbox" value="jardim-blumenau"> Jardim Blumenau</div>
    <div><input type="checkbox" value="escola-agronomica"> Escola Agronômica</div>
    <div><input type="checkbox" value="da-gloria"> Da Glória</div>
    <div><input type="checkbox" value="do-salto"> Do Salto</div>
    <div><input type="checkbox" value="boa-vista"> Boa Vista</div>
    <div><input type="checkbox" value="fortaleza"> Fortaleza</div>
    <div><input type="checkbox" value="victor-konder"> Victor Konder</div>
    <div><input type="checkbox" value="testo"> Testo Salto</div>
</div>
