<div>
    <div class="card" style="width: 14rem;">
        <img src="../assets/img/limpeza domestica.png" class="card-img-top" alt="...">
        <div>
            <p class="card-text">Limpeza Doméstica</p>
        </div>
    </div>
</div>
<div>
    <div class="card" style="width: 14rem;">
        <img src="../../../../assets/img/limpeza empresarial.png" class="card-img-top" alt="...">
        <div>
            <p class="card-text">Limpeza Empresárial</p>
        </div>
    </div>
</div>
<div>
    <div class="card" style="width: 14rem;">
        <img src="../../../../assets/img/limpeza pesada.png" class="card-img-top" alt="...">
        <div>
            <p class="card-text">Limpeza Pós Obra</p>
        </div>
    </div>
</div>
<div>
    <div class="card" style="width: 14rem;">
        <img src="../../../../assets/img/Captura de tela 2024-09-29 123549.jpg" class="card-img-top" alt="...">
        <div>
            <p class="card-text">Limpeza Apartamento</p>
        </div>
    </div>
</div>
<div>
    <div class="card" style="width: 14rem;">
        <img src="../../../../assets/img/Passadoria.png" class="card-img-top" alt="...">
        <div>
            <p class="card-text">Passadoria</p>
        </div>
    </div>
</div>