<div class="horarios">
    <div class="row">
      <div class="col-md-12">
        <h6>Sugestões</h6>
      </div>
      <div class="col-md-5">
        <button (click)="onSelectOption('7:00')" data-bs-dismiss="modal">
          7:00
        </button>
        <button (click)="onSelectOption('9:00')" data-bs-dismiss="modal">
          9:00
        </button>
        <button (click)="onSelectOption('11:00')" data-bs-dismiss="modal">
          11:00
        </button>
        <button (click)="onSelectOption('13:00')" data-bs-dismiss="modal">
          13:00
        </button>
      </div>
      <div class="col-md-5">
        <button (click)="onSelectOption('8:00')" data-bs-dismiss="modal">
          8:00
        </button>
        <button (click)="onSelectOption('10:00')" data-bs-dismiss="modal">
          10:00
        </button>
  
        <button (click)="onSelectOption('12:00')" data-bs-dismiss="modal">
          12:00
        </button>
  
        <button (click)="onSelectOption('14:00')" data-bs-dismiss="modal">
          14:00
        </button>
  
      </div>
    </div>
  </div>