
    <div class="container">
      <div class="profile-card">
       <h4>
        <strong>
         Profissional: Juliana Santos
        </strong>
      </h4>
       <p>
        50 anos de idade, 5 anos de experiência
       </p>
       <img alt="Profile picture of Juliana Santos" height="100" src="../../../../assets/img/perfil.jpg" width="100"/>
       <p>
        Limpeza Doméstica, Limpeza Empresarial, Limpeza Pós-Obra, Passadeira.
       </p>
       <p>
        Residência, Apartamento, Empresa, Loft.
       </p>
       <p>
        Valor Diária: R$ 150,00 a R$ 300,00
       </p>
       <p>
        Horários Disponíveis: 7:00 às 18:00
       </p>
       <p>
        Atividades Desenvolvidas: Arrumar camas; Cozinhar; Lavar Roupas; Limpar Janelas; Passar Roupa; Limpar Banheiro;
       </p>
       <p>
        Tempo para a reserva: Reservas com 30min de antecedência.
       </p>
      </div>