<div class="chat-container">
    <div class="row flex-grow-1">
     <div class="col-3 clients-list">
      <div class="client-item active">
       <img alt="Profile picture of Jaine Rosa dos Santos" height="30" src="../../../../assets/img/OIP.jpg" width="30"/>
       <span>
        Jaine Rosa dos Santos
       </span>
      </div>
     </div>
     <div class="col-9 d-flex flex-column">
      <div class="chat-header">
       <span>
        Jaine Rosa dos Santos
       </span>
       <button>
        Ver Reserva
       </button>
      </div>
      <div class="chat-messages">
       <div class="chat-message rigth">
        <strong>
         Cliente
        </strong>
        <p>
         Boa noite, amanha quando você chegar favor tocar a campainha no ap.201
        </p>
       </div>
       <div class="chat-message left">
        <strong>
         Prestador
        </strong>
        <p>
         Ok.
        </p>
       </div>
      </div>
      <div class="chat-input">
       <input placeholder="Digite sua mensagem" type="text"/>
       <button>
        Enviar
       </button>
      </div>
     </div>
    </div>
   </div>