
    <h4>Cadastro Prestador:</h4>
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" placeholder="Nome Completo:" [ngModel]="prestador.nomeCompleto">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email:" [ngModel]="prestador.email">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço:" [ngModel]="prestador.endereco">
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone:" [ngModel]="prestador.telefone">
            </div>
            <div class="col">
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento:" [ngModel]="prestador.dataNascimento">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF:" [ngModel]="prestador.cpf">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="tempoExperiencia" name="tempoExperiencia" placeholder="Tempo de Experiencia:" [ngModel]="prestador.tempoExperiencia">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="password" class="form-control" id="senha" name="senha"  placeholder="Senha:"[ngModel]="prestador.senha">
            </div>
            <div class="col">
                <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" placeholder="Confirmar Senha:" [ngModel]="prestador.confirmarSenha">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="foto" name="foto" placeholder="Foto de perfil:" [ngModel]="prestador.foto">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-primary">Procurar</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="antecedentesCriminais" name="antecedentesCriminais" placeholder="Antecedentes Criminais:" [ngModel]="prestador.antecedentesCriminais">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-primary">Procurar</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="documentos" name="documentos" placeholder="Envio de Documentos:" [ngModel]="prestador.documentos">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-primary">Procurar</button>
            </div>
        </div>
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="sobreMim" name="sobreMim" placeholder="Sobre mim:" [ngModel]="prestador.sobreMim"></textarea>
        </div>
        <h5>Informações Bancarias</h5>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="agencia" name="agencia" placeholder="Agencia:" [ngModel]="contaBancaria.agencia">
            </div>
            <div class="col">
                <input type="text" class="form-control"  id="conta" name="conta" placeholder="Conta:" [ngModel]="contaBancaria.conta">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" id="nomeTitular" name="nomeTitular" placeholder="Nome do titular:" [ngModel]="contaBancaria.nomeTitular">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="cpfTitular" name="cpfTitular" placeholder="CPF do titular:" [ngModel]="contaBancaria.cpf">
            </div>
        </div>
        <div class="d-grid col-6">
            <button type="submit" class="btn btn-primary" id="liveToastBtn" (click)="telaInicial($event)">Cadastrar</button>
            
        </div>
    </form>
    
    <div class="toast-container position-fixed top-50 start-50 translate-middle">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <button type="button" class="btn-close btn-close-white a " data-bs-dismiss="toast" aria-label="Close"></button>
            <div class="toast-body">
                Cadastro concluído com sucesso!
    
            </div>
        </div>
    </div>
