<div class="tipo-limpeza">
    <div class="row">
      <div class="col-12">
        <h6>Sugestões</h6>
        <button (click)="onSelectOption('Limpeza Doméstica')" data-bs-dismiss="modal">
          Limpeza Doméstica
        </button>
        <button (click)="onSelectOption('Limpeza Empresarial')"data-bs-dismiss="modal">
          Limpeza Empresarial
        </button>
        <button (click)="onSelectOption('Limpeza Pesada')"data-bs-dismiss="modal">
          Limpeza Pesada
        </button>
        <button (click)="onSelectOption('Passadoria')"data-bs-dismiss="modal">
          Passadoria
        </button>
      </div>
    </div>
  </div>
