<div class="cadastroCartao">
  <div class="card-container">
    <h5>Cadastrar Cartão de Crédito</h5>
    <form #cardForm="ngForm">
      <div class="form-group">
        <label for="card-number">Número do Cartão:</label>
        <input type="text" class="form-control" id="card-number" name="card-number" [(ngModel)]="clientecartao.numeroCartao" required>
      </div>
      <div class="form-group">
        <label for="full-name">Nome Completo:</label>
        <input type="text" class="form-control" id="full-name" name="full-name" [(ngModel)]="clientecartao.nomeCompleto" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="expiry-date">Data de Validade:</label>
          <input type="date" class="form-control" id="data-validade" name="data-validade" [(ngModel)]="clientecartao.dataValidade" dataValidade>
        </div>
        <div class="form-group col-md-6">
          <label for="cvv">CVV:</label>
          <input type="number" class="form-control" id="cvv" name="cvv" [(ngModel)]="clientecartao.cvv" required>
        </div>
      </div>
      <div class="form-group">
        <label for="card-cpf">CPF do Titular:</label>
        <input type="text" class="form-control" id="card-cpf" name="card-cpf" [(ngModel)]="clientecartao.cpf" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!cardForm.form.valid"data-bs-dismiss="modal" (click)="saveClienteCartao()">Cadastrar</button>
      </div>
    </form>
  </div>
</div>