.cadastroCartao {

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .card-container {
        background-color: #cdcdcd;
        padding: 20px;
        border-radius: 32px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        
    }

    .card-container h5 {
        background-color: #0A1EA6;
        color: white;
        padding: 8px;
        border-radius: 32px;
        text-align: center;
        margin: 0 0 20px 0;
    }

    .card-container label {
        font-weight: bold;
    }

    .card-container .form-control {
        border: 2px solid #0A1EA6;
        border-radius: 32px;
    }

    .card-container button {
        width: 100%;
        margin-top: 12px;
        padding: 10px;
        background-color: #0A1EA6;
        color: white;
        border: none;
        border-radius: 32px;
        font-size: 16px;
        cursor: pointer;
    }

    .form-row {
        display: flex;
    }
}