<div class="perfil-login">
  <form #loginForm="ngForm" >
    <div *ngIf="erroLogin"><p>Usuário ou senha incorretos</p></div>
    
    <div class="mb-12">
      <input 
        type="email" 
        class="form-control" 
        id="exampleInputEmailCliente" 
        name="email" 
        placeholder="E-mail:" 
        [(ngModel)]="cliente.email" 
        required>
    </div>
    
    <div class="mb-12">
      <input 
        type="password" 
        class="form-control" 
        id="exampleInputPasswordCliente" 
        name="senha" 
        placeholder="Senha:" 
        [(ngModel)]="cliente.senha" 
        required>
    </div>
    
    <button type="submit" class="btn-azul"  (click)="realizarLogin()" data-bs-dismiss="modal">Entrar</button>

    <div class="col-12">
      <button type="button">
        Entrar com Facebook
      </button>
      <button type="button">
        Entrar com Google
      </button>
    </div>
  </form>
</div>
