<div class="perfil-login">
  <div class="row">
    <div class="col-12">
      <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
        Entrar
      </button>
      <button (click)="cadastrar($event)">
        Cadastrar
      </button>
      <div class="line-azul"></div>
      <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
        Entrar como Prestador
      </button>
      <button>
        Cadastrar-se como Prestador
      </button>
    </div>
  </div>
</div>


