<footer>
    <div class="footer">
      <div class="row">
        <div class="col-md-4">
          <button>Ajuda?</button>
          <button>Relatar Problemas</button>
         </div>
        <div class="col-md-4">
          <button>Opções de cancelamento</button>
          <button>Cadastrar-se como Prestador</button>
          </div>
        <div class="col-md-4">
          <p>Siga nossas Redes Sociais</p>
          <div class="social-icons" style="width: 400px;">
            <button class="icon"><i class="bi bi-facebook"></i></button>
            <button class="icon"><i class="bi bi-instagram"></i></button>
            <button class="icon"><i class="bi bi-twitter"></i></button>       
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="footer">
        <div class="row">
          <div class="col-md-4">
            <p style="width: 400px;">info$meusite.com</p>
          </div>
          <div class="col-md-4">
            <p>Rua Prates, 194 - Bom Retiro, São Paulo - SP, 01121-000</p>
          </div>
          <div class="col-md-4">
            <p>Copyrigth, 2024</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
