
<div class="container">
    <h4><strong>Pesquisar por:</strong></h4>

    <div>
        <button type="button" class="btn-edit-claro" (click)="mostrarSecao('dia')">Dia</button>
        <button type="button" class="btn-edit-claro" (click)="mostrarSecao('mes')">Mês</button>
        <button type="button" class="btn-edit-claro" (click)="mostrarSecao('periodo')">Período</button>
    </div>

    <!-- Seção de ganhos por dia -->
    <div class="row-12 calendario" *ngIf="secaoAtual === 'dia'">
        <div class="col-7">
            <app-calendario></app-calendario>
        </div>
        <div class="col-4">
            <h5><strong>10 de fevereiro de 2024</strong></h5>
            <div>
                <h6>cliente: 1</h6>
                <h6>Valor:</h6>
            </div>
            <div>
                <h6>cliente: 1</h6>
                <h6>Valor:</h6>
            </div>
            <h5><strong>Valor total: R$ 300,00</strong></h5>
        </div>
    </div>

    <!-- Seção de ganhos por mês -->
    <div class="row-12 calendario mes" *ngIf="secaoAtual === 'mes'">
        <div class="col-7">
            <div>
                <label for="mesSelect">Pesquisar por mês:</label>
                <select class="form-control" id="mesSelect" [(ngModel)]="mesSelecionado" (change)="pesquisarPorMesAno()">
                    <option value="">Selecione o mês</option>
                    <option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nome }}</option>
                </select>
            </div>

            <div>
                <label for="anoSelect">Pesquisar por ano:</label>
                <select class="form-control" id="anoSelect" [(ngModel)]="anoSelecionado" (change)="pesquisarPorMesAno()">
                    <option value="">Selecione o ano</option>
                    <option *ngFor="let ano of anos" [value]="ano">{{ ano }}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <h5><strong *ngIf="mesSelecionado && anoSelecionado">{{mesSelecionado}}/{{anoSelecionado}}</strong></h5>
            <h5><strong>Valor total: R$ 3000,00</strong></h5>
        </div>
    </div>

    <!-- Seção de ganhos por período -->
    <div class="row calendario ano" *ngIf="secaoAtual === 'periodo'">
        <div class="col-md-12 display">
            <div class="col-md-6">
                <form class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                                [value]="formatter.format(fromDate)"
                                (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                [value]="formatter.format(toDate)"
                                (input)="toDate = validateInput(toDate, dpToDate.value)" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <h5 *ngIf="fromDate && toDate">
                    <strong>De: {{ formatter.format(fromDate) }} até: {{ formatter.format(toDate) }}</strong>
                </h5>
                <h5><strong>Valor total: R$ 3000,00</strong></h5>
            </div>
        </div>
    </div>
</div>