<div class="container">
       <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img alt="Profile picture of Juliana Santos" height="150" src="../../../../assets/img/643f104a04d1c02cebc18ee81bc07050.jpg"
                    width="150" />
                <h5 class="card-title">
                    {{agendamento?.servico?.prestador?.nomeCompleto}}
                </h5>
                <h6 class="card-subtitle mb-2">
                    600 metros de Distância
                </h6>
                <h6 class="card-subtitle mb-2">
                    {{agendamento?.servico?.prestador?.tempoExperiencia}} anos de experiência
                </h6>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <p>
                    Data: {{agendamento?.dataServico}}
                </p>
                <p>
                    Horário Início: {{agendamento?.horarioAgendamento }}
                </p>
                <p>
                    Horário Término: {{agendamento?.horarioAgendamentoFim}}
                </p>
                <p>
                    Valor:  {{agendamento.valorAgendamento}}
                </p>
                <p>
                    Local: {{agendamento?.enderecoServico?.rua}}, {{agendamento?.enderecoServico?.bairro}}, {{agendamento?.enderecoServico?.cep}}
                </p>
                <p>
                    {{agendamento?.servico?.observacoes}}
                </p>
                <div>
                    <div class="form-check form-check-inline">
                        <div class="form-check form-check-inline" *ngFor="let atividade of agendamento?.atividadesAgendadas">
                            <input class="form-check-input" type="checkbox" checked disabled />
                            <label class="form-check-label" style="opacity: 1; pointer-events: none">{{ atividade }}</label>
                          </div>
                    </div>
                <div *ngIf="agendamento?.status == true">
                    <button class="btn btn-primary btn" routerLink="/chat">Iniciar Chat</button>
                    <button type="button" class="btn btn-primary btn" data-bs-toggle="modal"
                        data-bs-target="#CancelarModal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="CancelarModal" tabindex="-1" aria-labelledby="CancelarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cancelar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja cancelar sua reserva com {{agendamento?.servico?.prestador?.nomeCompleto}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cancelarToastBtn" (click)="showToast()" data-bs-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>


<!-- Toast 1-->
<div class="toast-container position-fixed top-50 start-50 translate-middle">
    <div id="cancelarToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <button type="button" class="btn-close btn-close-white a " data-bs-dismiss="toast" aria-label="Close"></button>
        <div class="toast-body">
            Reserva cancelada com sucesso!

        </div>
    </div>
</div>