<app-filtro-prest></app-filtro-prest>
<div class="container">
    <p><strong>Tipos de Prpriedades:</strong> Residência, Apartamento, Empresa, Loft;</p>
    <p><strong>Tipos de Serviços:</strong> Limpeza Domestica; Limpeza Empresarial; Limpeza Predial; Passadoria;</p>
    <p><strong>Tempo de Experiência:</strong> 3 anos;</p>
    <p><strong>Valor Diária:</strong> R$ 150,00 - R$ 330,00;</p>
    <p><strong>Horários Disponíveis:</strong> 7:00 às 19:00;</p>
    <p><strong>Atividades Desenvolvidas:</strong> Arrumar camas; Cozinhar; Lavar Roupas; Limpar Janelas; Passar Roupas; Limpar Banheiro;</p>
    <p><strong>Tempo para a reserva:</strong> Reservas com 24hrs de antecedência;</p>
    <button class="btn-edit"(click)="editar($event)" >Editar</button>
</div>
    