<div *ngFor="let servico of listaServico" class="container">
    <p><strong>Tipos de Serviços:</strong> {{servico.servico}}</p>
    <p><strong>Tempo de Experiência:</strong> {{servico.prestador.tempoExperiencia}} anos</p>
    <p><strong>Valor Diária 4H:</strong> R$ {{servico.valorDiario4H}}</p>
    <p><strong>Valor Diária 8H:</strong> R$ {{servico.valorDiario8H}}</p>
    <p><strong>Horários Disponíveis:</strong> {{servico.horarios[0]?.horarioInicio}} às {{servico.horarios[0]?.horarioFim}}</p>
    <p><strong>Atividades Desenvolvidas:</strong> {{servico.atividades.join(', ')}}</p>
    <p><strong>Tempo para a reserva:</strong> Reservas com {{servico.tempoReserva}} de antecedência</p>
    <button class="btn-edit" (click)="editar($event)">Editar</button>
</div>