  <nav>
      <div class="search-container">
        <div class="search-item">
          <button type="button" id="hoje" name="hoje" class="form-control" (click)="hoje($event)">Hoje</button>
        </div>
        <div class="search-item calendar">
          <button type="button" class="form-control" id="calendario" name="calendario" (click)="calendario($event)" >Calendario</button>
        </div>
        <div class="search-item">
          <button type="button" class="form-control" id="chat" routerLink="/chat">Chat</button>
        </div>
        <div class="search-item">
          <button type="button"  id="anuncio" name="anuncio" class="form-control" (click)="anuncio($event)">Anúncio</button>
        </div>
        <div class="search-item">
          <button type="button" id="ganhos" name="ganhos" class="form-control" (click)="ganhos($event)">Ganhos</button>
        </div>
      </div>
    </nav>