
    <div class="container row-6">
        <div class="profile-card col-12">
            <h4>
                <strong>
                    Profissional: {{ servico.prestador.nomeCompleto }}
                </strong>
            </h4>
            <p>
                {{ servico.prestador.tempoExperiencia }} anos de experiência
            </p>
            <img alt="Profile picture of Juliana Santos" height="100" src="../../../../assets/img/perfil.jpg"
                width="100" />
            <p>
                {{servico.servico}}
            </p>
            <p>
                Valor Diária: R$ {{ servico.valorDiario4H }} a R$ {{ servico.valorDiario8H }}
            </p>
            <p>
                Tempo para a reserva: Reservas com {{ servico.tempoReserva }} de antecedência.
            </p>
            <button [routerLink]="['/reservando', servico.id]">
                Reservar
            </button>
        </div>
    </div>
