
    <div class="container row-6" routerLink="/reservando">
        <div class="profile-card col-12">
            <h4>
                <strong>
                    Profissional: Juliana Santos
                </strong>
            </h4>
            <p>
                50 anos de idade, 5 anos de experiência
            </p>
            <img alt="Profile picture of Juliana Santos" height="100" src="../../../../assets/img/perfil.jpg"
                width="100" />
            <p>
                Residência, Apartamento, Empresa, Loft.
            </p>
            <p>
                Valor Diária: R$ 150,00 a R$ 300,00
            </p>
            <p>
                Tempo para a reserva: Reservas com 30min de antecedência.
            </p>
            <button>
                Reservar
            </button>
        </div>
    </div>
