
<div class="container">
    <div class="card-custom">
        <div class="display">
            <p>Hoje: 28/07/2024</p>
            <p>Horário início: 8:00</p>
            <p>Tempo de serviço: 4 hrs</p>
        </div>
        <p>Local de prestação do serviço:<br> Rua: sete de setembro, 149, Blumenau, SC.</p>
        <p>Cliente: Jaine Rosa</p>
        <p>Mensagem: de preferência para arrumar a cama e limpar as janelas.</p>


        <button class="btn btn-custom" (click)="iniciarChat()">Iniciar Chat <i class="bi bi-chat-dots-fill"></i></button>
        <button class="btn btn-custom" (click)="mostrarLocalizacao()">Localização <i class="fas fa-map-marker-alt"></i></button>
       
    </div>
</div>